@using Kpmg.Messages
<div class="row">
    <div class="col-md-4">
        <h2>@Common.Index_Update_CSV</h2>
        <p>@Common.Index_Update_CSV_Text</p>
        <p>@Html.ActionLink(Common.Button_Upload, "Upload", "Index", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>@Common.Index_Update_XLSX</h2>
        <p>@Common.Index_Update_XLSX_Text</p>
        <p>@Html.ActionLink(Common.Button_Upload, "Upload", "Index", new { @class = "btn btn-default" })</p>
    </div>
</div>